# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
.build

# other
eclipse
run
/LICENSE.txt
/CREDITS.txt

# Files from Forge MDK
forge*changelog.txt
